.skills-container { width: 100%; padding: 30px; }
.skill-box { width: 100%; margin: 20px 0; }
.skill-bar {
    height: 15px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
}
.skill-per {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: block;
    position: relative;
}
/* Độ rộng của từng thanh */
.html { width: 90%; }
.js { width: 70%; }
.csharp { width: 80%; }

/* Tối ưu hiển thị cho các màn hình khác nhau */
@media (max-width: 992px) {
    .skills-container { padding: 20px; }
}

@media (max-width: 768px) {
    .section-title { font-size: 2rem; }
    .skill-box { margin: 15px 0; }
}